@import "../../../../styles/settings/colors";
@import "../../../../styles/settings/dimensions";

.footer {
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  span {
    color: $code-yellow;
  }

  img {
    width: 200px;
    //margin-bottom: -10rem;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    .bar {
      margin: 2rem 0 3rem 0;
      height: .25em;
      width: 5rem;
      background-color: $white;
    }
  }
}

.bottom {
  width: 100%;

  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  p {
    padding: 0;
    color: $gray-text;
    letter-spacing: -.07rem;
  }
}

@media (min-width: $tablet) {
  .footer {
    img {
      width: 200px;
    }
  }

  .content {

  }
}

@media (min-width: $desktop) {
  .content {
    display: flex;
    flex-direction: row !important;
    .bar {
      margin: 0 3rem !important;
      height: 5em !important;
      width: .25rem !important;
    }
  }
  .bottom {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .footer {
    img {
      width: 300px;
      margin-bottom: -10rem;
    }
  }
}

