@import "../../styles/settings/_typography";
@import "../../styles/settings/_colors";
@import "../../styles/settings/_dimensions";

.keyPoint {
  font-family: $font;
  color: $cian;
  max-width: 640px;
  min-height: 22em;
  h1 {
    width: fit-content;
    font-size: 28px;
  }
  p {
    line-height: 27px;
    font-family: $font;
    letter-spacing: 0.06rem;
    font-size: 1.1rem;
  }
}

.bar {
  width: 4rem;
  height: .25rem;
  margin-top: 1.5rem;
  margin-left: .25rem;
  background-color: $cian;
}

.white {
 h1 {
   color: $white;
 }
  p {
    color: $gray-text
  }
  .bar {
    background-color: $white;
  }
}

@media (min-width: $tablet) {
  .keyPoint {
    h1 {
      font-size: 30px;
    }
  }
}

@media (min-width: $desktop) {
  .keyPoint {
    h1 {
      font-size: 32px;
    }
  }
}

