@import '../../../styles/settings/_colors';

.skillSet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.ability {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  margin: 1rem 2rem;
  svg {
    width: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
  }
  &:hover {
    h1 {
      color: $code-yellow
    }
  }
}

.gray {
  color: $gray;
}

.yellow {
  color: $code-yellow
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 3rem;
}
