@import '../../../styles/settings/colors';

.skills {
  padding: 4rem 16px 0 16px;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.gray {
  color: $gray;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 3rem;
}