@import "../../styles/settings/_colors";


.container {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 12rem;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}


.dark {
  background-color: $dark;
  color: $white !important;
}

.footer {
  padding-bottom: 1rem !important;
}