@import "../../styles/settings/_typography.scss";
@import "../../styles/settings/_colors";
@import "../../styles/settings/_dimensions";

.center {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
  h1 {
    font-family: $font;
    font-weight: 500;
    font-size: 55px;
    color: $white;
    letter-spacing: -.4rem;
  }
  p {
    font-size: 22px;
    color: $gray;
  }
}


@media (min-width: $tablet) {
  .center {
    h1 {
      font-weight: 600;
      font-size: 80px;
    }
  }
}

@media (min-width: $desktop) {
  .center {
    h1 {
      font-weight: 700;
      font-size: 100px;
    }
  }
}
