@import "../../styles/settings/_colors";
@import "../../styles/settings/_dimensions";

.logo {
color: $white;
  letter-spacing: 3px;
  display: flex;
  span {
    h3 {
      display: none;
    }
  }
}



.status{
  display: none;
}

@keyframes animated-status {
  0% {
    opacity: 1;

  }
  50% {
    opacity: 0;


  }
  100% {
    opacity: 1;
  }
}


@media (min-width: $tablet) {
  .logo {
    span {
      h3 {
        display: inherit;
      }
    }
  }
  .available {
    background-color: $code-green ;
    h3 {
      color: $code-green;
    }
  }
  .status{
    display: inherit;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: .9rem 1.2rem 0 1.2rem;
    animation: animated-status 1200ms steps(30, end) infinite;
  }
  .available {
    background-color: $code-green ;
    h3 {
      color: $code-green;
    }
  }
  .busy {
    background-color: $code-orange ;
    h3 {
      color: $code-orange;
    }
  }
}

@media (min-width: $desktop) {

}
