@import '../../../../styles/settings/colors';
@import '../../../../styles/settings/dimensions';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  border-left: 1px solid $gray-border;
  h1 {
    padding-bottom: 2.2rem;
  }
  svg {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    fill: $code-orange;
    margin-right: 2.2rem;

  }

}

.formContainer {
  margin-top: 5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &:hover {
    h1 {
      color: $code-yellow !important;
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}


.info {
  h1 {
    font-size: 18px !important;
  }
}

.infoPhoneCall {
  h1 {
    font-size: 18px !important;
  }
}

.infoPhone {
  display: none;
}

@media (min-width: $tablet) {
  .infoPhoneCall {
    display: none;
  }
  .infoPhone {
    display: inherit;
    h1 {
      font-size: 24px !important;
    }
  }
  .formContainer {
    display: flex;
  }
  .info {
    h1 {
      font-size: 24px !important;
    }
  }
}