@import "../../styles/settings/_typography";
@import "../../styles/settings/_colors";
@import "../../styles/settings/_dimensions";

.subtitle {
  font-family: $font;
  color: $cian;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 2rem;
  letter-spacing: -.07em;
}

.center {
  text-align: center;
  p {
    font-size: 18px;
    color: $gray-text;
    line-height: 30px;
    letter-spacing: .07rem;
  }
  .white {
    p {
      color: $gray !important;
    }
  }
}

.white {
  color: $white,
}

.spaceBar {
  overflow: hidden;
  margin-right: -.25rem;
  margin-left: .25rem;
  margin-top: .25rem;
  white-space: nowrap;
  animation: animated-cursor 600ms steps(30, end) infinite;
}

@keyframes animated-cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.pic {
  width: 7em;
  border-radius: 10px;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: $tablet) {
  .subtitle {
    font-size: 50px;
    font-weight: 800;
  }

  .center {
    p {
      font-size: 20px;
      line-height: 32px;
    }
  }
}

@media (min-width: $desktop) {
  .flex {
    flex-direction: inherit;
  }

  .subtitle {
    font-size: 60px;
    padding-top: 5rem;
  }
  .center {
    p {
      font-size: 24px;
      line-height: 37px;
    }
  }
}