$black: #121518;
$black-title: #24292F;
$light-black: #1A2023;
$dark: rgba(27,31,36);
$white: #fbfbfb;
$light-gray: #F6F8FA;
$gray-border: #D9DDE2;
$gray: #949FA7;
$gray-text: #6B747E;
$code: #707A84;
$dark-gray: #232A2F;
$cian: #334C53;
$code-purple: #8B6EB9;
$code-green: #4FC781;
$code-yellow: #E9D764;
$code-blue: #85D7F8;
$code-orange: #BF8962;
