@import '../../styles/settings/_colors';
@import '../../styles/settings/_dimensions';

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;

  a {
    margin: 0 .6rem;
  }

  svg {
    width: 2.2rem;
    height: 2.2rem;
    fill: $code;

    &:hover {
      fill: $code-yellow
    }
  }
}

.small {
  display: none;
}

.orange {
  svg {
    &:hover {
      fill: $code-orange !important;
    }
  }
}

.custom {
  margin: 0 .3rem 0 0 !important;

  svg {
    fill: $code;
    width: 7.2rem !important;
  }
}

@media (min-width: $tablet) {
  .small {
    display: inherit;
    margin: 0;

    svg {
      width: 1.8rem !important;
      height: 1.8rem !important;
    }

    a {
      margin: 0 1rem 0 0 !important;
    }
  }
  .custom {
    margin: 0 1rem 0 0 !important;
  }
  .social {
    a {
      margin: 0 1rem;
    }
  }
}