@import '../../styles/settings/_colors';

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  a {
    margin: 0 1.5rem;
  }
  svg {
    width: 2.2rem;
    height: 2.2rem;
    fill: $code;
    &:hover {
      fill: $code-yellow
    }
  }
}

.small {
  margin: 0;
  svg {
    width: 1.8rem !important;
    height: 1.8rem !important;
  }
  a {
    margin: 0 1rem 0 0;
  }
}

.orange {
 svg {
     &:hover {
       fill: $code-orange !important;
     }
  }
}

.cg {
  fill: $code !important;
  width: 6.2rem !important;
}