@import '../../styles/settings/_colors';
@import '../../styles/settings/_dimensions';

.stack {
  display: flex;

  flex-direction: column;
  svg {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

.techno {
  flex-wrap: wrap;
  display: flex;
  margin-right: 6rem;
  align-items: center;
}

.skills {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.content {
  margin-bottom: 6rem;
  display: flex;
  flex-wrap: wrap ;
}

.col {
  flex-direction: column;
  text-align: center;
  margin-right: 1rem;
  p {
    color: $gray-text;
    font-size: 1.2rem
  }
}


@media (min-width: $tablet) {
  .stack {
    padding: 1.5rem 2rem 0 2rem ;
    margin: 1.5rem 1rem 0 1rem ;
    svg {
      width: 80px;
      height: 80px;
      margin-top: 1rem;
      margin-right: 2rem;
      margin-left: 2rem;
    }
  }
}

@media (min-width: $desktop) {
  .stack {
    padding: 3rem 4rem 0 4rem ;
    margin: 3rem 1rem 0 1rem ;
    svg {
      width: 100px;
      height: 100px;
      margin-top: 2rem;
      margin-right: 4rem;
      margin-left: 4rem;
    }
  }
}
